<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body onload="document.form.username.focus();">

<div class="container">
    <h2>Login.</h2>

    <p>
        <form role="form" name="form" th:action="@{/login}" action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </p>

    <p>
        <div>Don't have an account? <a th:href="@{/register}" href="/register">Register</a></div>
    </p>

    <div th:if="${param.logout}" class="alert alert-success" role="alert">You have been logged out.</div>

    <div th:if="${param.error}" class="alert alert-danger" role="alert">Failed to login.</div>
</div>
</body>
</html>