<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <title>Register</title>
</head>
<body onload="document.form.username.focus();">
<div class="container">
    <h2>Register.</h2>

    <p>
    <form role="form" name="form" th:action="@{/register}" action="/register" th:object="${registration}" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" placeholder="Username" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
    </p>

    <div th:if="${param.success}" class="alert alert-success" role="alert">
        You have been registered. Log in <a th:href="@{/login}" href="/login">here</a>.
    </div>

    <div th:if="${#fields.hasErrors('${registration.*}')}" class="alert alert-danger" role="alert">
        <ul>
            <li th:if="${#fields.hasErrors('${registration.username}')}" th:errors="${registration.username}">Username error.</li>
            <li th:if="${#fields.hasErrors('${registration.password}')}" th:errors="${registration.password}">Password error.</li>
        </ul>
    </div>
</div>
</body>
</html>